@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
.header {
  background-color: var(--color-blue);
  height: 7vh;
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: flex;
  gap: 1rem;
}
.header__picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__picture img {
  height: 2.2rem;
  border-radius: 50%;
  border: 2px solid white;
}
@media (min-width: 768px) {
  .header__picture img {
    height: 3.7rem;
  }
}
.header__logo {
  transform: scale(0.85);
}
.header__navigation svg {
  transform: scale(0.85);
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    height: 8vh;
    border-radius: 10px;
    margin-top: 1.4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .header__logo {
    transform: scale(1.2);
  }
  .header__navigation {
    gap: 2rem;
  }
  .header__navigation svg {
    transform: scale(1.2);
  }
}

a.active svg path {
  fill: white;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  gap: 0.5em;
  /*   & > * {
    border: 1px solid red;
  } */
}
.search__input {
  background-color: transparent;
  flex: 1;
  padding: 0 0.5em;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 7px;
}
.search__input::placeholder {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .search__input {
    padding: 0.6em 0.5rem;
    font-size: 1.2rem;
  }
}

.movie {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
}
.movie__details {
  margin-top: 0.3rem;
  display: flex;
  gap: 0.4rem;
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .movie__details {
    font-size: 1.3rem;
  }
}
.movie__details span {
  font-weight: 300;
}
.movie__trending {
  position: absolute;
  bottom: 8%;
  left: 8%;
}
@media (min-width: 768px) {
  .movie__trending .movie__title {
    font-size: 1.8rem;
  }
}
.movie__title {
  font-weight: 500;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .movie__title {
    font-size: 1.4rem;
  }
}
.movie__category {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.movie__img-overlay {
  position: relative;
}
.movie__img-overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.movie__img-container {
  position: relative;
}
.movie__img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.movie__bookmark {
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
  display: grid;
  place-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--color-blue-transparent);
}
.movie__bookmark svg {
  transform: scale(1.2);
  cursor: pointer;
}

.movieList {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.movieList h2 {
  margin-bottom: 1.5rem;
}
.movieList__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
@media (min-width: 768px) {
  .movieList__gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw;
  }
}

.notFound {
  height: 20rem;
  display: grid;
  place-content: center;
  text-align: center;
}

.trending {
  margin-left: 5%;
  margin-top: 1.5rem;
}
.trending__movies {
  display: flex;
  height: 10rem;
  gap: 1rem;
  overflow-x: auto;
}
@media (min-width: 768px) {
  .trending__movies {
    height: 17rem;
  }
}
.trending__movies::-webkit-scrollbar {
  width: 0;
}
.trending .movie {
  height: 100%;
  min-width: 16rem;
}
@media (min-width: 768px) {
  .trending .movie {
    min-width: 30rem;
  }
}
.trending h1 {
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
}

@media (min-width: 1024px) {
  .app {
    display: flex;
  }
  .app > * {
    border: 3px solid;
  }
}

:root {
  --color-red: #fc4747;
  --color-blue-bg: #10141e;
  --color-blue-light: #5a698f;
  --color-blue: #161d2f;
  --color-blue-transparent: rgba(22, 29, 47, 0.6);
  --color-white: white;
}

body {
  font-family: "Outfit", sans-serif;
  color: var(--color-white);
  background-color: var(--color-blue-bg);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.bookmarked__empty {
  height: 20rem;
  display: grid;
  place-content: center;
  font-size: 1.4rem;
}

.tab {
  margin-top: 1.4rem;
}
@media (min-width: 768px) {
  .tab {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=index.css.map */
