.movieList {
  margin-top: 1.5rem;
  margin-bottom: 4rem;

  & h2 {
    margin-bottom: 1.5rem;
  }
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3vw;
    }
  }
}

.notFound {
  height: 20rem;
  display: grid;
  place-content: center;
  text-align: center;
}
