.header {
  background-color: var(--color-blue);

  &__container {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    display: flex;
    gap: 1rem;
  }

  &__picture {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      height: 60%;
      border-radius: 50%;
      border: 2px solid white;
    }
  }
}

a.active svg path {
  fill: white;
}
