.header {
  background-color: var(--color-blue);
  height: 7vh;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    display: flex;
    gap: 1rem;
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      height: 2rem;
      border-radius: 50%;
      border: 2px solid white;
      cursor: pointer;

      @media (min-width: 768px) {
        height: 3.3rem;
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 8vh;
    border-radius: 10px;
    margin-top: 1.4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    &__logo {
      transform: scale(1.1);
      cursor: pointer;
    }

    &__navigation {
      gap: 2rem;
      & svg {
        transform: scale(1.1);
      }
    }
  }

  @media (min-width: 1024px) {
    margin-top: 5vh;
    height: 90vh;
    margin-left: revert;
    margin-right: revert;
    display: flex;
    justify-content: center;

    &__container {
      padding: 2rem 0;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }

    &__navigation {
      display: flex;
      gap: 2.4rem;
      flex-direction: column;
      margin-bottom: auto;

      & svg path {
        transition: fill 0.3s ease-in-out;
      }

      & svg:hover path {
        fill: var(--color-red);
      }
    }
  }
}

a.active svg path {
  fill: white;
}
