.trending {
  margin-left: 5%;
  margin-top: 1.5rem;
  position: relative;

  &__movies {
    display: flex;
    height: 10rem;
    gap: 1rem;
    overflow-x: auto;
    @media (min-width: 768px) {
      height: 17rem;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  & .movie {
    height: 100%;
    min-width: 16rem;
    @media (min-width: 768px) {
      min-width: 30rem;
    }
  }

  & h1 {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
  }

  @media (min-width: 1024px) {
    margin-left: 2.5%;
  }
}

.leftArr,
.rightArr {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 8px;
}

.leftArr:hover,
.rightArr:hover {
  color: white;
}

.leftArr {
  left: 0px;
}

.rightArr {
  right: 0px;
}
