.movie {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
  &__details {
    margin-top: 0.3rem;
    display: flex;
    gap: 0.4rem;
    font-size: 0.85rem;
    margin-bottom: 0.4rem;

    @media (min-width: 768px) {
      font-size: 1.3rem;
    }

    & span {
      font-weight: 300;
    }
  }

  &__trending {
    position: absolute;
    bottom: 8%;
    left: 8%;

    @media (min-width: 1024px) {
      bottom: 12%;
    }
  }

  &__trending &__title {
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1.2rem;
    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  &__category {
    display: flex;
    gap: 0.2rem;
    align-items: center;
  }

  &__img-overlay {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
  }

  &__img-container {
    position: relative;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 9px;
    }
  }

  &__bookmark {
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
    display: grid;
    place-content: center;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-blue-transparent);

    & svg {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.picture {
  &__overlay {
    display: none;
  }

  @media (min-width: 1024px) {
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      background-color: black;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }

    &:hover::before {
      opacity: 0.2;
    }

    &__overlay {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      z-index: 4;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease-in-out;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 0.6rem 1rem;
      border-radius: 100rem;
    }

    &:hover &__overlay {
      opacity: 1;
    }
  }
}

.play {
  font-size: 1.3rem;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .movie {
    &__details {
      font-size: 0.9rem;
    }

    &__title {
      font-size: 1.3rem;
    }
  }
}
